
    <div class="chat chat-opened">
        <div class="chat-header clearfix">
            <div class="chat-header-name">Chatbot</div>
            <i class="fa fa-caret-down"></i>
        </div> <!-- end chat-header -->

        <div class="chat-history">
            <ul>


            </ul>
        </div> <!-- end chat-history -->

        <div class="chat-message clearfix">
            <textarea name="emma-chatbox" id="emma-chatbox" placeholder="Nachricht eingeben" rows="3"></textarea>
        </div> <!-- end chat-message -->

    </div> <!-- end chat -->


